/* Generals*/
* {
    list-style-type: none;
    margin : 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Quicksand;
}
/* INDEX.HTML HOME PAGE*/
body {
    margin : 10px;
    background: #e5e5e5;
}

h2 {
    font-family: Permanent Marker;
    font-size: 20px;
}

/* Header Nav*/
header {
    background-color: #526654;
    display: flex;
    justify-content: space-between;
}
#logo {
    border-radius: 50%;
    margin: 10px;
}
.navcontainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
   align-items: center;
   margin-right: 10px;
}
li a {
    font-family: Permanent Marker;
    color: white;
    font-size: 25px;
}
/* Img+h1*/
#h1img {
    width: 100%;
    background-size: cover;
}
h1 {
  background-color: rgba(225, 225, 225, 0.500);
  height: 150px;  
  font-family: Permanent Marker;
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 35px;
}
.h1container {
    background-image: url("https://picsum.photos/1512/450");
    background-repeat: no-repeat;
    background-size: cover;

    height: 450px;
    margin-bottom: 25px;
}

/* A la une*/
.actu {
    display: flex;
    justify-content: space-around; 
}

#actuimg {
    border-radius: 15px;
    margin: 0px 20px 0 0px;
}
#bold {
    font-weight: 600;
}

.border {
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

/* Témoignages*/
.temoignages {

    display: flex;
    justify-content: space-around;
}
.temoignages img {
    border-radius: 50%;
    margin-bottom: 10px
}

.t1, .t2, .t3 {
    text-align: center;
}

.t-text {
    font-family: Caveat;
}


/* Footer*/
