/* Generals*/
* {
    list-style-type: none;
    margin : 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Quicksand;
}
/* Header Nav DESKTOP*/
.nav-desktop {
    background-color: #526654;
    display: flex;
    justify-content: space-between;
}
#logo {
    margin: 10px;
}
.navcontainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-right: 10px;
}
li a {
    font-family: Permanent Marker;
    color: white;
    font-size: 25px;
}

/*MENU BURGER*/
.nav-list-mobile {
    position: fixed;
    top: -50vh;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    text-align: center;
    background-color: #526654;
    opacity: 0.8;
    transition: top 0.8s;
}
.nav-list-mobile a {
    color: white;
    font-family: Permanent Marker;
    font-size: 20px;
}
.navbar-mobile {
    display: none;
}
.navbar-mobile i {
    z-index: 999;
    font-size: 50px;
    position: fixed;
    top: 10px;
    right: 15px;
    color: white;
    cursor: pointer;
}

.list-visible {
    top: 0;
}

/* Footer*/
footer {
    width: 100%;
    margin-top: 30px;
    background-color: #526654;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
.coordonnees {
    text-align: center;
}

.coordonnees h3, .menu h3{
    font-size: 22px;
    font-family: Permanent Marker;
}

#italic {
    font-style: italic;
}
/* INDEX.HTML HOME PAGE*/
body {
    margin : 10px;
    background: #e5e5e5;
}

h2 {
    font-family: Permanent Marker;
    font-size: 20px;
}


/* Img+h1*/
.h1container {
    background-image: url("./assets/h1img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
  background-color: rgba(225, 225, 225, 0.500);
  height: 150px;  
  font-family: Permanent Marker;
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 35px;
  width: 100%;
}

/* A la une*/
.actu {
    display: flex;
    justify-content: space-around; 
}

#actuimg {
    border-radius: 15px;
    margin: 0px 20px 0 0px;
}
.actu-text{
    width: 50%;
    margin: auto;
}
#bold {
    font-weight: 600;
}

.border {
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

/* Témoignages*/
.temoignages {
    display: flex;
    justify-content: space-around;
}

.t-img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.t1, .t2, .t3 {
    text-align: center;
}

.t-text {
    font-family: Caveat;
    font-size: 20px;
}

/* ABOUT.HTML ABOUT PAGE*/

.about-top-page{
    background-image: url("./assets/abouttop-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prof1-container, .prof2-container, .prof3-container {
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.prof1-container {
    background-color: #D4ECCD; 
}
.prof2-container {
    background-color: #ECE0CD;
}
.prof3-container {
    background-color: #CDDAEC;
}
.profimg {
    border-radius: 15px;
    margin: 10px;
}
.proftext{
    width: 70%;
    margin: auto;
}
.right {
    text-align: right;
}


/* PLANNING.HTML PAGE*/

.planning-top-page{
    background-image: url("./assets/planningtop-img.jpg");
}
/* TARIFS HOME PAGE*/
.tarifs-top-page{
    background-image: url("./assets/tariftop-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenu {
    font-size: 50px;
    color: #E37379;
    text-align: center;
    padding: 200px 0;
}


.aboimg {
    border-radius: 50%;
    height: 250px;
}
.firstbloc {
    align-self: center;
}

.firstpart, .extraborder {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid black;
}


.price, .typeprice, .includes {
    text-align: center;
}
.price {
    color: #E37379;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 10px;
}

.typeprice {
    font-size: 20px;
}

.includes {
    font-size: 15px;
    padding-top: 10px;
}

.cartes, .annuel, .unite {
    display: flex;
    justify-content: space-around;
}
.cartes{
    margin: 60px 150px;
}

.infos {
    height: 45px;
    width: 25%;
    margin: 25px;
    background-color: #8AB280;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
}

.fulldivpink {
    background-color: #ECCDCD;
    padding: 25px 0 ;
}
.payments {
    text-align: center;
    font-size: 30px;
}
.picto {
    border-radius: 50%;
    margin: 25px  25px 10px 25px;
}  
.picto-gift {
    border-radius: 50%;
    margin : 0 15px
}
.payment-type {
    display: flex;
    justify-content: center;
    text-align: center;
}

.payment-txt {
    font-size: 18px;
}
.gift {
    display: flex;
    justify-content: center;   
}
.gift-btn {
    height: 35px;
    width: 25%;
    background-color: #8AB280;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0 15px
}

#gift-h3, .gift-btn, .picto-gift {
    align-self: center;
}

/*CONTACT PAGE*/
.contact-top-page {
    background-image: url("./assets/contacttop-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.messagetitlebox {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.messagetitle {
    font-size: 25px;
}
.contactborder {
    background-color: black;
    border-radius: 20px;
    height: 5px;
    width: 30%;
    align-self: center;
    margin-left: 25px;
}

input {
    border-radius: 5px;
    border: none;
    background-color: #e8c9cb;
}
#firstname, #lastname, #email, #phone {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
}
#message {
    padding: 20px;
    background-color: #e8c9cb;
    border: none;
    border-radius: 5px;
    resize: none;
    width: 70.6%;

}

/*MEDIA QUERIES*/

@media (max-width:650px) {

    /*BODY MOBILE*/
    body {
        margin: 0;
        padding: 0;
    }
    /*NAVMOBILE*/
    .nav-desktop {
        display: none;
    }
    .navbar-mobile {
        display: block;
    }
    
    /*H1CONTAINER +TOP PAGE MOBILE*/
    .h1container, .about-top-page, .tarifs-top-page {
        display: none;
    }
    /*ACTU MOBILE*/
    .actu {
        display:block;
        padding-top: 20px;
        width: 50%;
        margin: auto;
    }
    #actuimg {
        border-radius: 15px;
    }
    #actuh2 {
       text-align: center;
    }

    /*T-MOBILE*/
    .temoignages {
        display: block;
    }

    /*FOOTERMOBILE*/
    footer {
        display: block;
    }
    .coordonnees {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    .menu {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    /*TOPPAGE MOBILE*/
    .prof1-container, .prof2-container, .prof3-container, .right, .cartes, .annuel, .unite {
        display: block;
        height: fit-content;
        text-align: center;
    }

    /*ABOUT MOBILE*/
    /*PROFS MOBILE*/
    .profimg {
        max-width: 150px;
    }
    .proftxt {
        width: 80%;
        margin: auto;
        padding: 10px 0 15px 0;
    }

    /*TARIFS MOBILE*/
    .aboimg {
        max-height: 150px;
        margin: 15px 0;
    }
    .extraborder {
        width: 50%;
        margin: auto;
    }
    .cartes {
        margin: 35px auto;
        width: 50%;
    }
  
    /*Il doit y avoir une fermeture} après ce commentaire sinon c'est la merde*/
    }